.DynamicTable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    padding: 20px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
        0 6px 20px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

.DynamicTableProducts {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-collapse: collapse;
    border-spacing: 0;
    color: #333;
    padding: 20px;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
        0 6px 20px 0 rgba(0, 0, 0, 0.3);
    font-size: 16px;
}
.DynamicTableProducts th,
.DynamicTable th {
    height: 50px;
    border: 1px solid #ddd;
    padding: 8px;
    overflow: hidden;
    position: relative;
    font-size: 16px;
    font-size: 16px;

}

.DynamicTableProducts td,
.DynamicTable td {
    border: 1px solid #ddd;
    padding: 8px;
    max-height: 150px;
    overflow: hidden;
    font-size: 16px;

    position: relative;
}

.fit-text {
    height: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DynamicTableProducts td:hover,
.DynamicTable td:hover {
    background-color: #f5f5f5;
}

.DynamicTableProducts td,
.DynamicTable td {
    border-color: #999;
    position: relative;
    font-size: 16px;
    border: 1px solid black;
}

.scrollable-content {
    max-height: 250px;
    overflow-y: auto;
    padding-right: 10px;

}

.DynamicTableProducts th,
.DynamicTable th {
    border-color: #999;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    font-size: 16px;
    background-color: #f2f2f2;
    color: black;
    border: 1px solid black;
}


.subTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    font-size: 16px;
}

.subTable td {
    height: 50px;
    border: 1px solid black;
    font-size: 16px;
}

.subTable td:hover {
    background-color: #e0e0e0;
}

.subTable th {
    height: 50px;
    border: 1px solid black;
    font-size: 16px;
}