.adminCustomersComponent {
    background-color: lightgrey;
    padding: 100px;
}


.dynamicTableContainer {
    background-color: white;
}

.headerCustomersAdmin{
    text-align: center;
    padding-bottom: 10px;
}

